// Place all the styles related to the my_first_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table td {
  vertical-align: top; 
  padding-right: 20px;
  
  }
  table a{
  font-size: 25px;
  color: blue
  }
  .my_image {
  border: 1px solid black;
  width: 400px;
  height: 400px
  }
